.App {
  text-align: center;
}

a {
  font-family: 'Roboto', sans-serif;

}

a:hover{
  color: white;
}


.posts-container{
  display:flex;
  flex-wrap: wrap;
  margin: 2%;
  justify-content: center;
}
.post-hero{
  margin:2%;
}

.postsContainer{
  display:flex;
  flex-wrap:wrap;
  margin: 2%;
  justify-content: center;
}

